<launch>

	<arg name="sim" default="True" />
	<param name="simulation" type="boolean" value="$(arg sim)" />

	<arg name="n" default="2" />
	<param name="total_robot_n" type="int" value="$(arg n)" />

	<node pkg="sphero_ball" name="spheros_connector" type="robot_setup.py" output="screen" />
	<param name="setup_complete" type="boolean" value="False" />

	<!-- launch turtlesim - needs to be manually commented out when running non sim version -->
	<!-- would be nice to do this from robot_setup.py
	<node pkg="turtlesim" name="turtlesim" type="turtlesim_node"/>  --> 

	<!-- leader and follower robots below. make sure only n of them are uncommented when running launch file -->

	<node pkg="sphero_ball" name="sphero1_driver" type="leader_driver.py" output="screen" args="1" />
	<!--<node pkg="sphero_ball" name="chris_driver" type="leader_driver.py" output="screen" args="3" />
	<node pkg="sphero_ball" name="lindsey_driver" type="leader_driver.py" output="screen" args="4" />
	<node pkg="sphero_ball" name="sphero2_driver" type="follower_driver.py" output="screen" args="2" />
	<node pkg="sphero_ball" name="jordan_driver" type="follower_driver.py" output="screen" args="5" />-->

</launch>
